<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>543378959676-0jejr6tpefaqhrg9i2au4g28lv3uqmae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.543378959676-0jejr6tpefaqhrg9i2au4g28lv3uqmae</string>
	<key>API_KEY</key>
	<string>AIzaSyAPhoUMs-rjvP2Lmwq7Vm-CT0GfRbG3lhY</string>
	<key>GCM_SENDER_ID</key>
	<string>543378959676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shams.maor.Chat</string>
	<key>PROJECT_ID</key>
	<string>ios-chat-c92a3</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-chat-c92a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:543378959676:ios:1bfe2557fcbcda67</string>
	<key>DATABASE_URL</key>
	<string>https://ios-chat-c92a3.firebaseio.com</string>
</dict>
</plist>